<div class="container">
    <div>
        <h2>Modifier un Equipe :</h2>
    </div>
    <form>
        <div hidden class="col-sm-2 col-md-2 col-lg-2">
            <label>ID Equipe</label>
            <input readonly type="text" [(ngModel)]="currentEquipe.idEquipe" name="idEquipe" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Nom Equipe</label>
            <input type="text" [(ngModel)]="currentEquipe.nomEquipe" name="nomEquipe" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <label>Prix Equipe</label>
            <input type="number" [(ngModel)]="currentEquipe.rankEquipe" name="rankEquipe" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Date création</label>
            <input type="date" [ngModel]="currentEquipe.dateCreation | date: 'yyyy-MM-dd'"
                (ngModelChange)=" currentEquipe.dateCreation= $event" name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <select class="form-control form-control-lg" id="idLigue" name="idLigue" [(ngModel)]="updatedLigID">
                <option *ngFor="let cat of ligues" [value]="cat.idLigue">
                    {{cat.nomLigue}}
                </option>
            </select>
        </div>
        <div class="col-sm-16 col-md-16 col-lg-16"> <label class="mb-2">Image :</label> <input type="file"
                (change)="onImageUpload($event)" class="form-control"> </div>

        <div class="mt-2"> <button type="submit" (click)="onAddImageEquipe()" class="btn btn-success">Ajouter
                Image</button> </div>

        <div class="card shadow mb-4">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Images</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let img of currentEquipe.images">
                        <tr>
                            <td><img class="card-img-top img-responsive"
                                    src="{{'data:' + img.type + ';base64,' + img.image}}"
                                    style="height :50px;width:100px"></td>
                                    <td style="width:20%" ><a class="btn btn-danger" (click)="supprimerImage(img)">Supprimer</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <button type="submit" (click)="updateEquipe()" class="btn btn-success">Modifer</button>
    </form>
</div>