<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
      <app-update-ligue 
        [ligue]="updatedligue" 
        [ajout]="ajout" 
        (ligueUpdated)="ligueUpdated($event)">
      </app-update-ligue>
    </div>
    <div class="card shadow mb-4">
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nom Ligue</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lig of ligues">
              <td>{{lig.idLigue}}</td>
              <td>{{lig.nomLigue}}</td>
              <td><a class="btn btn-success" (click)="updatedLigue(lig)">Editer</a></td>
              <td><a class="btn btn-danger" (click)="supprimerCategorie(lig)">Supprimer</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  