<div class="container">
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Rank</th> <th>Date Création</th><th>Ligue</th><th>Image</th> <th *ngIf="authService.isAdmin()">Supprimer</th><th *ngIf="authService.isAdmin()">Editer</th></tr>
    <tbody *ngFor="let Equipe of equipes">
    <tr >
    <td>{{Equipe.idEquipe}}</td>
    <td>{{Equipe.nomEquipe}}</td>
    <td>{{Equipe.rankEquipe}}</td>
    <td>{{Equipe.dateCreation | date:'dd/MM/yyyy'}}</td>
    <td>{{Equipe.ligue.nomLigue}}</td>
    <td>
      <img
      class="card-img-top img-responsive"
      *ngIf="Equipe.imageStr"
      [src]="Equipe.imageStr"
      style="height: 50px; width: 100px"
    />
    <span *ngIf="!Equipe.imageStr">No Image</span>
      </td>
      
         <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerEquipe(Equipe)">Supprimer</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateEquipe',Equipe.idEquipe]">Modifier</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>