<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <label>Ligues </label>
        <select class="form-control form-control-lg" id="idLigue" name="idLigue"
        [(ngModel)]="IdLigue" (change)="onChange()">
        <option *ngFor="let lig of ligues" value="{{lig.idLigue}}">
        {{lig.nomLigue}}
        </option>
        </select>
        </div>
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
    <tr> <th>Id</th><th>Nom</th> <th>Rank</th> <th>Date Création</th><th>Ligue</th> </tr>
    <tbody *ngFor="let Equipe of equipes">
    <tr >
    <td>{{Equipe.idEquipe}}</td>
    <td>{{Equipe.nomEquipe}}</td>
    <td>{{Equipe.rankEquipe}}</td>
    <td>{{Equipe.dateCreation | date:'dd/MM/yyyy'}}</td>
    <td>{{Equipe.ligue.nomLigue}}</td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="supprimerEquipe(Equipe)">Supprimer</a></td>
    <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updateEquipe',Equipe.idEquipe]">Modifier</a></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>